<footer>
    <div class="footer__container">
        <div class="footer__links">
            <a href="/about" class="footer__link">О нас</a>
            <a href="/contact" class="footer__link">Контакты</a>
            <a href="/terms" class="footer__link">Условия использования</a>
            <a href="/privacy" class="footer__link">Политика конфиденциальности</a>
        </div>
    </div>
</footer>

<script>
    async function makerequest (address){
        let link = "http://127.0.0.1:4444/"+address;
        let token
        try {
            token = document.cookie.match(/JWT=(.+?)(;|$)/)[1]
        }catch (error){
            token ="undefined";
        }

        let resd = await fetch(link,{
            method : 'GET',
            headers:{
                'Content-Type' : 'application/json',
                'Authorization' : 'Bearer '+token,
            },
            redirect: 'follow',
        }).then (response => {
            if (response){
                window.location.href=link;
            }
        });
        console.log(resd.json());
    }

</script>