
<header>
    <%- include('reg.ejs') %>
    <nav class="navbar">
       <a href="/" class="navbar__logo"> <img src="/img/logo.png" alt="Главная" width="120px"></a>
        <a href="/about" class="navbar__link">О нас</a>
        <a href="/order" class="navbar__link">Заказать авто</a>
    </nav>
    <nav class = "navbar1">
        <a onclick="show()" class="navbar__link navbar__link--login">Войти/Зарегистрироваться</a>
        <a href="/driver" class="navbar__link navbar__link--driver">Создать учетную запись водителя</a>
        <nav>
</header>


<script>
    function show(){
        document.getElementById("window").style.display = "block";
        document.getElementById("gray").style.display="block";
    }

</script>
