<style>

    *{
        font-family: "Lora","Arial",serif;
        font-variant: normal;
        font-feature-settings: normal;
    }
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        min-height: 85vh;
        max-height: 200`vh;
    }

    .menu {
        flex-shrink: 0;
        background-color: #EEE;
        width: 15%;
        max-width: 15%;
    }

    .content {
        background-color: #DDD;
        flex: 3;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 10px;
        border-bottom: 1px solid #CCC;
    }


    li:last-child {
        border-bottom: none;
    }


    #form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    a {
        color: #333;
        text-decoration: none;
    }
    a:hover {
        color: #f65151;
    }

    li:hover {
        color: #f65151;
        cursor: pointer;
    }
    font{
        font-size: 18em;
    }

    .active {
        font-color: #f65151;
    }
</style>

<div class="container">
    <div class="menu">
        <ul>
            <li class="menu-link "><a href="../profile/me" >Изменить данные</a></li>
            <li class="menu-link"><a href="../profile/routes" >Просмотреть запланированные поездки</a></li>
            <li class="menu-link"><a href="../profile/rate" >Оценить поездки</a></li>
            <li class="menu-link"><a href="../profile/archive" >Архив поездок</a></li>
            <li class="menu-link"><a href="../profile/stats">Статистика</li>
            <% if (role === "driver") {%>
            <li class="menu-link"><a href="../driver/routes">Просмотреть поездки (для водителя)
                    <% }%>
                    <% if (role === "admin") {%>
                    <li class="menu-link"><a href="../profile/moderate">Меню управления пользователями</a></li>
            <li class="menu-link"><a href="../profile/change">Изменение коэффициентов</a></li>
                    <% }%>
            <li class="menu-link"><a onclick="exit()">Выйти</a></li>
        </ul>
    </div>

    <script>
        async function exit(){
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
            }
            location.href = "/";

        }
    </script>