<%- include('./parts/header.ejs')%>

<style>
    p {
        margin-bottom: 20px;
        line-height: 1.5;
        font-size: 2em;
    }
</style>

<p>Наша компания соединяет пассажиров с качественными услугами перевозки в любой точке города. Наша миссия - сделать перемещения удобнее, быстрее и доступнее для всех.</p>
<p>Мы работаем только с надежными такси-партнерами. Наша система автоматически выбирает оптимальный маршрут и автоматически расчитывает стоимость поездки на основе расстояния и времени в пути.</p>
<p>Наша команда состоит из профессионалов в области транспортных услуг, которые постоянно работают над улучшением нашей платформы и обеспечением высокого качества обслуживания.</p>
<p>Мы гарантируем безопасность наших пассажиров и защищаем конфиденциальность их данных. Выбирайте нас и наслаждайтесь комфортной и безопасной поездкой!</p>

<%- include('./parts/footer.ejs')%>